<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Page
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6" style="background-color:#FFFFFF;">
  <form id="page-form2">
    <ion-item color="none" id="page-list-item8">
      <ion-avatar item-left>
        <img src ="../../assets/imgs/avat.jpg" />
      </ion-avatar>
      <h2>
        {{(profileData | async )?.nom}} {{(profileData | async)?.prenom}}
      </h2>
    </ion-item>
    <ion-item color="none" id="page-list-item13">
      <ion-icon name="mail" item-left></ion-icon>
      {{email}}
    </ion-item>
    <ion-item color="none" id="page-list-item14">
      <ion-icon name="home" item-left></ion-icon>
      {{(profileData | async )?.adresse}} ,{{(profileData | async )?.codePostal}} ,{{(profileData | async )?.ville}} 
    </ion-item>
    <ion-item color="none" id="page-list-item17">
      <ion-icon name="globe" item-left></ion-icon>
      {{(profileData | async )?.pays}}
    </ion-item>
    <ion-item color="none" id="page-list-item18">
      <ion-icon name="call" item-left></ion-icon>
      +216 26 365 528
    </ion-item>
    <ion-item id="page-toggle1">
      <ion-label>
        compte vérifier
      </ion-label>
      <ion-toggle color="positive"  disabled="true"></ion-toggle>
    </ion-item>
  </form>
</ion-content>
-->



<ion-header>
  <ion-navbar>
      <ion-title>Profile {{(profileData | async )?.nom}}</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="update()">
      <ion-icon name="build"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content>

    <div class="list-card">
        <div class="profile-item">
            <div class="profile-picture big-profile-picture">
          <img src ="../../assets/imgs/avat.jpg" />
        </div>
        <h2 class="profile-name dark">   {{(profileData | async )?.nom}} {{(profileData | async)?.prenom}}</h2>
        <div class="profile-info"> {{(profileData | async )?.adresse}} ,{{(profileData | async )?.codePostal}} ,{{(profileData | async )?.ville}} </div>
        <div class="profile-info">  {{(profileData | async )?.pays}}</div>
        <div class="profile-info">{{(profileData | async )?.numberPhone}}</div>
      <div *ngIf="!verif">
        <ion-item class="profile-info">
          <ion-label>
            compte non vérifier
          </ion-label>
          <ion-toggle color="danger"  disabled="true"  checked="true"></ion-toggle>
        </ion-item>
        <p>Pour activer votre compte , il faut envoyer un email à l'administrateur <ion-badge color="payant"> admin@travelCar.com</ion-badge> avec les documents suivent</p>
        
          <p>Copi de votre CIN</p>
          <p>Copi de votre permis </p>
          <p>Copie de Votre cart gris Si vous avez un voiture</p>
       
      </div>
        <div *ngIf="verif">
            <ion-item class="profile-info">
              <ion-label>
                compte vérifier
              </ion-label>
              <ion-toggle color="secondary"  disabled="true"  checked="true"></ion-toggle>
            </ion-item>
            </div>
      </div>
     </div>
   

  </ion-content>