page-parking {
    .titrehg{
        color:#f36;
        text-align: center;
        font-size: 25px;
        font-weight:bold;
    }
    .ps{
        color:#f36;
    }
    .titrehp{
        color:#4699FB;
        text-align: center;
        font-size: 25px;
        font-weight:bold;
    }
    .psp{
        color:#4699FB;
    }
    p,h2{
        color:#777;
    }
}
