<!--
  Generated template for the RecherchePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="payant">Début</ion-label>
            <ion-datetime  displayFormat="MMM DD, YYYY" [(ngModel)]="dateDebut"></ion-datetime>
          </ion-item>
          
        
          <ion-item  >
            <ion-label color="gratuit">Fin</ion-label>
            <ion-datetime color="gratuit" displayFormat="MMM DD, YYYY" [(ngModel)]="dateFin"></ion-datetime>
          </ion-item>
          
         <!-- <ionic-calendar-date-picker [notInCalendarStyle]="{'color': 'red', 'font-weight': 'bold'}" (onSelect)="dateSelected($event)"></ionic-calendar-date-picker>	-->
        
         
        </ion-list>
     
       <div *ngFor="let item of itemes  | async" >
         <div *ngIf="item.dateDebut <= dateDebut  && item.dateDebut >= dateFin ">
            
            <ion-card *ngFor="let item of itemes  | async" >

                <img src="../../assets/imgs/bmw.jpg">
                <ion-card-title>
                  {{item.marque}} Boite {{item.boitvitess}}
                </ion-card-title>
               <ion-item>
                  <ion-icon name="car" item-start large></ion-icon>
                  <h2>Type</h2>
                  <p>{{item.type}}</p>
                </ion-item>
              
                <ion-item>
                  <ion-icon name="flame" item-start large ></ion-icon>
                  <h2>PLace et porte</h2>
                  <p>{{item.place}} places  {{item.port}}portes</p>
                </ion-item>
              
                <ion-item>
                        <ion-icon name="calendar" item-start large ></ion-icon>
                        <p>Dispo le </p>
                        <ion-badge item-end color="gratuit">{{item.dateDebut}}</ion-badge>
                        
                  
                  
                </ion-item>
                <ion-item>
                        <ion-icon name="calendar" item-start large ></ion-icon>
                        
                      
                        <p>Jusqu'à le </p>
                        <ion-badge item-end color="payant">{{item.dateFin}}</ion-badge>
                  
                </ion-item>
                <ion-item>
                    <button  color="list" ion-button icon-start clear item-end (click)="detail(item.key)">
                        <ion-icon name="locate"  color="list"></ion-icon>
                        Detaile
                      </button>
                </ion-item>
               
              </ion-card>
        </div>
        </div>
       
</ion-content>
